@import "./global.css";

.user-component{
    padding: 20px 10px;
    flex-direction: column;
}
.user-component__profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-component__id{
    padding-top: 0.3rem;
    font-size: 2rem;
}
.add-profile-btn{
    background-color: gray;
    width: 80px;
    height: 80px;
    font-size: 5rem;
    font-weight: 100;
    color: white;
}
.add-profile-btn span{
    margin-top: 10px;
}
.continue-watching__imges img{
    width: 220px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}
.continue-watching__imges{
    list-style: none;
    display: flex;
    overflow-x: auto;
}
.continue-watching__card{
    background-color: var(--darkpurple);
    padding: 5px;
    border-radius: 10px;
}
.continue-watching__header{
    /* margin-bottom: 15px; */
    font-size: 1.7rem;
}
.continue-watching__imges li{
    margin-left: 5px;
}
.continue-watching__title{
    display: flex;
    justify-content: center;
    margin: 2px 0;
    font-size: 1.5rem;
}
.wishlist__img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.wishlist__header{
    border-top: 1px solid var(--border-color);
    padding-top: 15px;
    margin-bottom: 10px;
}
.wishlist-item{
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkpurple);
    padding: 7px;
    border-radius: 15px;
}
.wishlist-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}
.wishlist__title{
    font-size: 1.7rem;
}
.wishlist__subtitle{
    font-size: 1.3rem;
}
.wishlist-play-btn span{
    background-color: var(--purple);
    border-radius: 50%;
    opacity: 0.9;
    font-size: 3rem;
    margin-top: 10px;
}
.wishlist{
    padding: 0 20px 10px 20px;
}
.wishlist-item img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin-top: 5px;
}
.wishlist__header{
    font-size: 1.3rem;
    margin-top: 10px;
}
